In [3]:
from src.files import read_config
from src.files import read_schema
##from src.database import create_tables
import pandas as pd
import numpy as np

In [123]:
raw_path = "archives/data/raw.npz"
data = np.load(raw_path,allow_pickle=True)
arrays = list(data.keys())
for name in arrays:
    array = data[name]

In [124]:
df = pd.DataFrame(array)

In [162]:

data_filtrado = df[(df.iloc[:, 10] == 'GASOLINA') &
                   pd.to_numeric(df.iloc[:, 12].replace(',', '.', regex=True), errors='coerce').ge(3) &
                   pd.to_numeric(df.iloc[:, 12].replace(',', '.', regex=True), errors='coerce').le(6) & 
                   (df.iloc[:, 0].isin(["N", "S"]))
                   ]

In [168]:

columns = [12]

data_filtrado[columns]

         12
75     5,52
76     5,57
77     5,52
78     5,52
79     5,52
...     ...
49468  5,56
49476  5,12
49483  5,59
49486  5,83
49493  5,79

[3267 rows x 1 columns]